<div class="card mb-3">
    <img class="card-img-top" style="width: 40rem;" src="https://jewishjournal.com/wp-content/uploads/2019/09/Logo-sorry-not-sorry-demi-lovato.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">This category doesnt exist!</h5>
        <p class="card-text">This category does not seem to exist! You can check all of our categories by clicking the button bellow. </p>
        <a asp-area="" asp-controller="Category" asp-action="All"  class="btn btn-primary">Categories</a>
    </div>
</div>