@model System.Collections.Generic.IEnumerable<ProductShop.Web.ViewModels.Category.CategoryByNameAndPicture>

<div class="list-group">
    <ul style="list-style-type: none">
        @foreach (var viewModel in Model)
        {
            <li>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-
                         
                         
                         
                         
                         p" src="@viewModel.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">@viewModel.Description</p>
                        <a asp-area="" asp-controller="Category" asp-action="Details" asp-route-name="@viewModel.Name" class="btn btn-secondary">@viewModel.Name</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>