<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">You have already ordered this product</h5>
        <p class="card-text">It appears that you have already ordered this product do you wish to continue and order a it for a second time ?</p>
        <a asp-area="" asp-controller="Orders" asp-action="OrderProduct" class="btn btn-success">Order for a second time</a>
        <a  asp-area="" asp-controller="Orders" asp-action="MyOrders" class="btn btn-danger">No</a>
    </div>
</div>